<div class="addEntryForm">	
	<div class="inputFields">
		<h3>Add Student </h3>
		<hr/>
		<form method="post" class="addForm">
			<div style="text-align:left;vertical-align:top">
				<input type="text" class="form-control input-xs col-sm-8" placeholder="Student Number"  ng-model="student_no"/><br/>
					<input type="text" class="form-control input-xs col-sm-8" placeholder="Last Name" ng-model="lname"/><br/>
					<input type="text" class="form-control input-xs col-sm-8" placeholder="First Name"  ng-model="fname"/><br/>
					<input type="text" class="form-control input-xs col-sm-8" placeholder="Middle Name"  ng-model="mname"/><br/>
					<input type="email" class="form-control input-xs col-sm-8" placeholder="Email Address"  ng-model="email"/><br/>
					<input type="number" class="form-control input-xs col-sm-8" placeholder="Mobile"  ng-model="mobile"/><br/>
					<select name="table_data" class="custom-select" ng-model="course" style="max-width:200%" ng-options="degree.course_id  for degree in degrees">
	                <option value ="" disabled selected>Degree Course</option>
	                </select><br/>
					<select name="table_data" class="custom-select" ng-model="major_degree" style="max-width:200%" ng-options="major.degree_id  for major in majors">
	                <option value ="" disabled selected>Major</option>
	                </select><br/>
			</div>																
				<button type="submit" class="btn btn-success btn-lg col-sm-2" ng-click="add()">Submit</button>
		</form>
	</div>
</div>
