<div class="addEntryForm">	
	<div class="inputFields">
		<h3>Add Subjects </h3>
		<hr/>
		<form class="addForm">
			<div class="modal-body" id="modal-body" style="text-align:left;vertical-align:top">
				<input type="text" class="form-control input-xs col-sm-8" placeholder="Subject Code" ng-model="subject_code"/><br/>
				<input type="text" class="form-control input-xs col-sm-8" placeholder="Subject Description" ng-model="subj_desc"/><br/>
				<input type="number" class="form-control input-xs col-sm-8" placeholder="Units" ng-model="units"/><br/>
				<input type="number" class="form-control input-xs col-sm-8" placeholder="Term" ng-model="term"/><br/>
				
				<input type="text" class="form-control input-xs col-sm-8" placeholder="Degree" ng-model="degree"/><br/>
				<input type="text" class="form-control input-xs col-sm-8" placeholder="Major/Degree" ng-model="major_degree"/><br/>
				
			</div>																
				<button type="submit" class="btn btn-success btn-lg col-sm-2" ng-click="add()">Submit</button>
		</form>
	</div>
</div>
