<div class="addEntryForm">	
	<div class="inputFields">
		<h3>Create Sections</h3>
		<hr/>
		<form method="post" class="addForm">
		    <label><strong>Select a section</strong></label><br/>
		    <select name="table_data" class="custom-select" ng-options="subject.subject_code for subject in subjects" ng-model="selected_subject" style="max-width:200%;margin-bottom:20px">
	        <option value ="" disabled selected>Select a section</option>
	        </select>
			<br/>
			<br/>
			<div style="text-align:left;vertical-align:top">
			    <label>Number of Sections to create for: &nbsp</label>
			    <strong><em>{{selected_subject.subject_code}}</em></strong>
				<input type="number" class="form-control input-xs col-sm-4" placeholder="Number of Sections" ng-model="no_of_sections" style="margin-bottom:5px"/>
				<button type="submit" class="btn btn-warning btn-md col-md-4" ng-click="generate()">Generate</button>
				<br/>               
				<br/>
				
			</div>
		</form>
	</div>
	<br/>
	
	
	<table class="table table-hover table-condensed">
         <h4>List of Sections</h4>
        <tbody>
        <tr class="topHeader">
	        <th>Subject Code</th>
	        <th>Description</th>
	        <th>Section</th>
	        <th>Units</th>
	        <th>Degree</th>
	        <th>Major</th>
	        <th>Assigned Faculty</th>
	        <th></th>
	        <th></th>
        </tr>
        <tr ng-repeat="class in classes track by $index">
	        <td id="subject-code">{{class.subject_code}}</td>
	        <td id="subject-code">{{class.subj_desc}}</td>
	        <td id="subject-code">{{class.section}}</td>
	        <td id="subject-code">{{class.units}}</td>
	        <td id="subject-code">{{class.degree}}</td>
	        <td id="subject-code">{{class.major_degree}}</td>
	        <td id="subject-code">{{class.prof_id}}</td>
	        <td>
	            <select class="custom-select" ng-model="prof_array[$index]" ng-options="prof.prof_id for prof in prof_list" style="max-width:200%">
	   
		        </select>
	        </td>
	        
	         <td>
	            <button class="btn-primary btn-xs" ng-click="assign($index)">Assign</button>	        
	        </td>
        </tr>
        </tbody>
    </table>
    
    <button type="submit" class="btn btn-success btn-md col-md-4" ng-click="add()">Add</button>
	
	
</div>
