<div class="addEntryForm">	
	<div class="inputFields">
		<h3>Listing</h3>
		<br/>
		<p style="background-color:#FFFF66"><strong>This page allows the manual adding of a student to a listing. In cases that the auto listing feature does not satisfy the situation of the student, an administrator can manually enter the student number, the term, the degree, and major of the subject. Add all will add the students to subject that match the given degree and major. Add will just add that student to the given subject code.</strong></p>
		<hr/>
		<form method="post" class="addForm">
			<div style="text-align:left;vertical-align:top">
				<input type="text" class="form-control input-xs col-sm-8" placeholder="Student Number"  ng-model="student_no"/><br/>
				<input type="text" class="form-control input-xs col-sm-8" placeholder="Subject Term"  ng-model="term"/><br/>
				<input type="text" class="form-control input-xs col-sm-8" placeholder="Degree Type" ng-model="course"/><br/>
				<input type="text" class="form-control input-xs col-sm-8" placeholder="Major/Degree"  ng-model="major_degree"/><br/>
				<br/>
				<input type="text" class="form-control input-xs col-sm-8" placeholder="[OPTIONAL] Subject Code"  ng-model="subject_code"/><br/>
				
			</div>																
				<button type="submit" class="btn btn-success btn-lg col-sm-2" ng-click="add()">Add</button>
			    <button type="submit" class="btn btn-success btn-lg col-sm-2" ng-click="addAll()">Add All</button>
				
				<button type="submit" class="btn btn-warning btn-lg col-sm-2" ng-click="remove()">Remove</button>
				<button type="submit" class="btn btn-warning btn-lg col-sm-2" ng-click="removeAll()">Remove All</button>
		</form>
	</div>
</div>
