<div style="margin-bottom:20px; border-left:4px solid #336699; padding-left:10px;" >
<h3> Term Controls </h3>

<span>Enter password to verify action:</span>
<input type="text" class="form-control input-xs col-sm-8" placeholder="Password" ng-model="password"/><br/>
<br/>
<span>Press button to enlist all enrolled students to viable subjects</span><br/>
<button type="submit" class="btn btn-success btn-md col-sm-2" ng-click="enroll()" style="margin-left:20px">Enroll</button>
<br/>
<br/>
<span>Press button to clear student listing </span><br/>
<button type="submit" class="btn btn-warning btn-md col-md-2" ng-click="clear()" style="margin-left:20px">Clear Listing</button>

<br/>
</div >
