
<table class="table table-bordered">
<thead>
<tr>
<h2>Home</h2>
</tr>
</thead>
<tr>
<th class="thead">Professor ID</th>
<td>{{user_object.prof_id}}</td>
</tr>
<tr>
<th>Last Name</th>
<td>{{user_object.lname}}</td>
</tr>
<tr>
<th>First Name</th>
<td>{{user_object.fname}}</td>
</tr>
<tr>
<tr>
<th>Gender</th>
<td>{{user_object.gender}}</td>
</tr>
<tr>
<th>Degree</th>
<td>{{user_object.degree}}</td>
</tr>
<tr>
<th>Major</th>
<td>{{user_object.major}}</td>
</tr>
<tr>
<th>Email</th>
<td>{{user_object.email}}</td>
</tr>
</table>