<table class="table table-borderless">

<tr>
<h2>Classes</h2>
</tr>
<tr>
<thead>
<th>Class Code</th>
<th>Class Description</th>
<th id="subject-grade">Units </th>
</thead>
</tr>
<uib-accordion close-others="oneAtATime"> <!-- pay attention to this line -->
<tr ng-repeat="(x,class) in classes" uib-accordion-group class="panel-default" heading="CLASSES">
<td class="subject" id ="subject-code">{{class.subject_code}}</td>
<td class="subject" id="subject-code">{{class.subj_desc}}</td>
<td class="subject" id="subject-grade">{{class.units}}</td>
</tr>
</uib-accordion>


</table>