<div class="row">
<h2>Account Settings </h2>

<br/>
</div>
<div class="row">
<div class="col-sm-4">
</div>
<div class="col-sm-4">
<label class"sr-only" for="password">Old Password</label><br/>
<input type="password" class="form-control input-lg" id="oldpassword"  placeholder="Old Password" ng-model="oldPassword"/><br/>
<label class"sr-only" for="password">New Password</label><br/>
<input type="password" class="form-control input-lg" id="newpassword"  placeholder="New Password" ng-model="newPassword"/><br/>
<label class"sr-only" for="password">Verify New Password</label><br/>
<input type="password" class="form-control input-lg" id="newpasswordv"  placeholder="Verify Password" ng-model="newPasswordVerification"/><br/>
<button type="submit" class="btn btn-primary" ng-click="change_password()" >Change Password</button>
</div>
<div class="col-sm-4">
</div>
</div>