<table class="table table-bordered" >
	<h2>Fees</h2>
	          
	            <tr class="table-row">
						<th>Term</th>
						<td>{{fee.term}}</td>
					  
					
						<th>Year</th>
						<td>{{fee.year}}</td>
					
					
						<th>Status</th>
						<td>{{fee.status}}</td>
					
	            </tr>
				<thead>
					<tr class="secondHeader">
					<th>Fee</th>
					<th>Unpaid Amount</th>
					</tr>
				</thead>
				<tbody ng-repeat="fee in user_object.fees track by $index">
					
					<tr class="table-row">
						<th>Tuition</th>
						<td>P{{fee.tuition}}</td>
					</tr>
					<tr class="table-row">
						<th>Misc</th>
						<td>P{{fee.misc}}</td>
					</tr>
					<tr>
					    <th>Total:</th>
					    <td>P{{fee.tuition + fee.misc}}</td>
					</tr>
					
					<tr>
					</tr>
					<tr class="table-row">
						<th class="thead">Entrance</th>
						<td>P{{fee.entrance}}</td>
					</tr>
					<tr class="table-row">
						<th>Selection</th>
						<td>P{{fee.selection}}</td>
					</tr>
					<tr class="table-row">
						<th>Id</th>
						<td>P{{fee.id}}</td>
					</tr>
					<tr>
					    <th>Total</th>
					    <td>{{fee.entrance + fee.selection + fee.id}}</td> 
					</tr>
					<tr>
					</tr>
					
					<tr class="table-row">
						<th>Term</th>
						<td>{{fee.term}}</td>
					</tr>
					<tr class="table-row">
						<th>Year</th>
						<td>{{fee.year}}</td>
					</tr>
					<tr class="table-row">
						<th>Status</th>
						<td>{{fee.status}}</td>
					</tr>
				</tbody>
			</table>
