<div class="row">
<h2>Request </h2>

<p align="justify" style="padding-left:10px"> Request a copy of your Transcript of Records (TOR) by sending an automated email indicating a request. Once a the request has been processed,
please email a proof of payment to admin@pic.edu.ph. To use this feature, please ensure that <strong>the email address registered to your account is a Gmail Account</strong>.</p>
</div>
<div class="row">
<div class="col-sm-4">
</div>
<div class="col-sm-4">
<button type="submit" class="btn btn-primary" ng-click="send_email()" >Send Request</button>
</div>
<div class="col-sm-4">
</div>
</div>