<table class="table table-hover table-condensed">

<tr>
<h2>Course Checklist</h2>
</tr>
<tbody ng-repeat="(x,term) in user_object.checklist">
<tr>
<th id="no-hover"> Term {{term.term}} </th>
</tr>
<tr id="no-hover">
	<th>Subject Code</th>
	<th>Subject Description</th>
	<th>Units</th>
	<th id="subject-grade">Subject Grade</th>
</tr>
<tr ng-repeat="(y,subject) in term.subjects">
	<td id="subject-code">{{subject.subject_code}}</td>
	<td id="subject-code">{{subject.subj_desc}}</td>
	<td>{{subject.units}}</td>
	<td>{{subject.grade}}</td>
</tr>
</tbody>
</table>