<table class="table table-bordered" ng-repeat="fee in user_object.fees track by $index" >
	<h2>Fees</h2>
	<br/>
	<span><strong> Term: &nbsp {{fee.term}} </strong></span> 
	<span><strong> Year: &nbsp {{fee.year}} </strong></span> 
	<span><strong> Status: &nbsp {{fee.status}} </strong></span>       
	           
				<thead>
					<tr class="secondHeader">
					<th>Fee</th>
					<th>Unpaid Amount</th>
					</tr>
				</thead>
				<tbody>
					
					<tr>
					</tr>
					<tr class="table-row">
						<th class="thead">Entrance</th>
						<td>P{{fee.entrance}}</td>
					</tr>
					<tr class="table-row">
						<th>Selection</th>
						<td>P{{fee.selection}}</td>
					</tr>
					<tr class="table-row">
						<th>Id</th>
						<td>P{{fee.id}}</td>
					</tr>
					<tr>
					    <th>Total</th>
					    <td>P{{fee.entrance + fee.selection + fee.id}}</td> 
					</tr>
					<tr>
					<td></td>
					<td></td>
					</tr>
					
					<tr class="table-row">
						<th>Term</th>
						<td>{{fee.term}}</td>
					</tr>
					<tr class="table-row">
						<th>Year</th>
						<td>{{fee.year}}</td>
					</tr>
					<tr class="table-row">
						<th>Status</th>
						<td>{{fee.status}}</td>
					</tr>
					
					<tr>
					<td></td>
					<td></td>
					</tr>
					
				</tbody>
			</table>
