<table class="table table-bordered" >
	<h2>Fees</h2>
				<thead>
					<tr class="secondHeader">
					<th>Fee</th>
					<th>Amount</th>
					</tr>
				</thead>
				<tbody ng-repeat="fee in user_object.fees track by $index">
					<tr class="table-row">
						<th class="thead">Entrance</th>
						<td>{{fee.entrance}}</td>
					</tr>
					<tr class="table-row">
						<th>Selection</th>
						<td>{{fee.selection}}</td>
					</tr>
					<tr class="table-row">
						<th>Id</th>
						<td>{{fee.id}}</td>
					</tr>
					<tr class="table-row">
						<th>Misc</th>
						<td>{{fee.misc}}</td>
					</tr>
					<tr class="table-row">
						<th>Tuition</th>
						<td>{{fee.tuition}}</td>
					</tr>
					<tr class="table-row">
						<th>Term</th>
						<td>{{fee.term}}</td>
					</tr>
					<tr class="table-row">
						<th>Receipt</th>
						<td>{{fee.receipt}}</td>
					</tr>
				</tbody>
			</table>